In [7]:
#!pip install import-ipynb

In [1]:
import import_ipynb
import pandas as pd
import numpy as np
from NLP import extraction

importing Jupyter notebook from NLP.ipynb
[('>=', 'mth'), (3, 'num'), (['Information Technology'], 'cat')]
[('None', 'mth'), ('None', 'num'), (['Information Technology'], 'cat')]
[('=', 'mth'), (4, 'num'), ('None', 'cat')]
[('None', 'mth'), (4, 'num'), ('None', 'cat')]

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/taohidshadat/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/taohidshadat/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [7]:
corr_df = pd.read_pickle('corr_df.pkl')
spy = pd.read_pickle('spy.pkl')
data = pd.read_pickle('data.pkl')

In [8]:
corr_df.head()

    Symbol                  Sector               Company  Correlation
36     AMP              Financials  Ameriprise Financial     0.862691
38     AME             Industrials                Ametek     0.854128
40     APH  Information Technology              Amphenol     0.850969
314   MSFT  Information Technology             Microsoft     0.845984
475      V  Information Technology             Visa Inc.     0.839206

In [9]:
spy.head()

        Date       Close  Percent_Change
0 2020-01-02  324.869995             NaN
1 2020-01-03  322.410004       -0.007572
2 2020-01-06  323.640015        0.003815
3 2020-01-07  322.730011       -0.002812
4 2020-01-08  324.450012        0.005330

In [10]:
data.head()

,Date,Symbol,Close,Sector,Company,Percent_Change
0,2020-01-02,A,85.949997,Health Care,Agilent Technologies,NaN
497,2020-01-03,A,84.570000,Health Care,Agilent Technologies,-0.016056
994,2020-01-06,A,84.820000,Health Care,Agilent Technologies,0.002956
1491,2020-01-07,A,85.080002,Health Care,Agilent Technologies,0.003065
1988,2020-01-08,A,85.919998,Health Care,Agilent Technologies,0.009873

In [11]:
def index_replication(inp):
  nlp = extraction(inp)
  filtered_df = corr_df.copy() #dataframe of all stocks with its time series correlation to the sp500
  num_stocks = None
  mth = None
  filt = None
  res = []
  default_stocks = 5
  add = 0

  #adding all NLP extraction into variable
  for x, y in nlp:
    #assigning math constraint into mth as long as user has given one
    if y == 'mth' and x != "None":
      mth = x
    #assigning num constraint into num_stocks as long as user has given one
    elif y == 'num' and x != "None":
      num_stocks = x
    #assigning cat constraint into filt as long as user have given certain sectors to invest into
    elif y == "cat" and x != "None":
      if x != "None":
        filt = x

  #filter dataframe by the sector of stocks the user wants
  if filt:
    filtered_df = corr_df.loc[corr_df['Sector'].isin(filt)].copy()
  
  # #if user gave a mathematical constraint
  if mth:
    if mth == ">=" or mth == ">":
      #if the user wants more than the certain number, we give them two extra stocks
      add = 2
    else:
      #if the user wants less than the certain number, we give them one less stock
      add = -1

  # #if the user gave a number of stocks
  if num_stocks:
    #we want to include in the mathematical constraint
    num_stocks += add
    i = 0
    while i < num_stocks:
      res.append(filtered_df['Symbol'].iloc[i])
      i += 1
  # #if the user gave no specified number of stocks we give them a default number of stocks
  else:
    default_stocks += add
    res = list(filtered_df['Symbol'].iloc[:default_stocks])
  
  return res

In [12]:
index_replication("I want to invest in at least 3 tech companies")

['APH', 'MSFT', 'V', 'ACN', 'PAYX']